/* hw 5 stylesheet
Sara & Brady */

/* all font arial*/
body {
	font-family: Arial;
}

/* center text */
.centered{
	text-align: center;
}

.columns {
	display: flex;
}

#col1 {
	width: 60%;
}

#col2 {
	width: 40%;
}

circle:hover {
	fill: orange;
}

.addBorder {
	stroke: seagreen;
	stroke-width: 4;
}